* {
    margin: 0;
    padding: 0;
  }
header {
    background-image: url(../assets/img/Fondo\ ppt-1\ \(1\).png);
    width: 100%;
    height: auto;
    min-height: 595px;
}  


footer {
    background-color: rgb(23, 23, 133);
}
footer a , h3 , h4  {
    text-decoration: none;
    color: white;
    text-align: center;
}
.link__footer  {
    text-decoration: none;
    color: white;
    text-align: center;
}
.foto__header {
    width: 200px;
    
}




/* aca empieza el index */

.h1__header__index {
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  
    }
.contenedor__header__index  {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.contenedor__header__index img {
    width: 300px;
}
    
.foto__header { 
    width: 250px;
}
   
.h2__main__index {
    text-align: center;
}
.contenedor__main__index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contenedor__main__index img {
    width: 300px;
}
.contenedor__main__index p {
    width: 30%;
}
@media (max-width: 524px){
    .contenedor__main__index {
        display: flex;
        flex-direction: column;
        
    }
}
@media (max-width: 530px){
    .contenedor__main__index p {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}


/*ACA ARRANCA BENEFICIOS*/

.contenedor__tarjetas__beneficios   {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 30px;
}
.tarjeta__header__beneficios { 
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 340px;
    margin:2.5%;
    text-align: center;
    justify-content: center;
    background-color:blue;
    color:white; 
    flex-wrap: wrap;
}
.titulo__h1__beneficios{
    text-align: center;
    color:white; 
}
.titulo__h2__beneficios {
    text-align: center;
    color: black;
    margin: 20px,0px,20px,0px;  
}
.parrafo__1__beneficios {
    width: 50%;
    margin-right: 50%;
    margin-left: 10px;
}

.parrafo__2__beneficios {
width: 50%;
margin-left: 50%;
}

.parrafo__3__beneficios {
    width: 50%;
    margin-left: 10px;
    margin-right: 50%;
}

@media (max-width: 620px) {
    .contenedor__tarjetas__beneficios  {
        display: flex;
        flex-direction: column;
      justify-content: center;
      justify-items: center; 
    }
}
@media (max-width: 1305px) {
    .contenedor__tarjetas__beneficios  {
        display: flex;
        flex-direction: row;
      justify-content: space-evenly;
      justify-items: center; }
     
    }
/*aca empieza proposito*/
.contenedor__header__proposito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    width: 100%;  
}

.video__proposito {
    width: 50%;
    margin: top 50px
}

.parrafo__proposito { 
    color: white;
    width: 250px;
    min-width: 150px;
    margin: 100px;

}

@media (max-width: 1000px) {
    .parrafo__proposito , .video__proposito {
        width: 90%;
        margin-top: 30px;
        min-width: 50%;
    }
}

/* ACA EMPIEZA EL SOBRE NOSOTROS */
.h1__header__sobrenosotros {
    text-align: center;
    justify-content: center;
    padding:20px;
    color:white;
}
.contenedor__header__sobrenosotros {
    display: flex;
    flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
   
}
.tarjeta__header__sobrenosotros1 , .tarjeta__header__sobrenosotros2{
    border: solid 1px;
    border-radius: 10px;
    text-align: center;
    margin: 35px;
    width: 350px;
    background-color: white;
}
.foto__header__sobrenosotros img {
  width: 30%;
  border: solid 1px;
  margin: 15px; 
}
.contenedor__main__sobrenosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    
}
.contenedor__main__sobrenosotros img {
    width: 50%;
    margin: 30px;
    padding: 20px;
}
.contenedor__main__sobrenosotros P {
    margin: 20px;
    width: 50%;
}

@media (max-width: 831px) {
    .contenedor__main__sobrenosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 831px) {
    .contenedor__main__sobrenosotros p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
    }
}

/* ACA EMPIEZA CONTACTOS */

.h1__header__contacto {
    color: white;
    text-align: center;
    justify-content: center;
    
}

.contenedor__header__contacto { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contenedor__header__contacto img {
    width: 200px;
    margin: 100px;
}

@media (max-width: 630px) {
    .contenedor__header__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 350px) {
    .h1__header__contacto {
        max-width: 80%;
        margin-left: 15px;
    }
}